 /* Navbar css */
 .Navbar{
  justify-content: space-between;
  display: flex;
  
 }
 
 
 
 /* login page css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.login-heading {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.login-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.login-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.login-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.login-button:hover {
  background-color: #3e8e41;
}

.Navbar{
  margin: 0px;
  padding: 5px;
  display: flex;
}
.Navbar div {
  padding: 0px 5px;
  font-size: larger;
}


/* signup page css */

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0dddd;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 40px;
  width: 480px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.signup-heading {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.signup-name-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.signup-label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.signup-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.signup-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.signup-button:hover {
  background-color: #3e8e41;
}

